
<div class="tank">
    <svg viewBox="-2 -2 122 96" class="inside">
        <ellipse cx="59" cy="80" rx="59" ry="12" />
        <rect class="c" x="0" y="25" width="118" height="55" />
        <ellipse cx="59" cy="25" rx="59" ry="12" />
</svg>
    <svg viewBox="-2 -2 122 96" class="outside">
        <ellipse cx="59" cy="12" rx="59" ry="12" />
        <ellipse cx="59" cy="80" rx="59" ry="12" />
        <line x1="0" y1="12" x2="0" y2="80" />
        <line x1="118" y1="12" x2="118" y2="80" />
    </svg>
</div>
