
.tank {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 64px);
}

svg {
    width: 50%;
    height: 50%;
}

.outside {
    fill:rgba(255,255,255,0);
    stroke:#000;
}
